
@{
    ViewBag.Title = "Index";
}

@section PageScripts
{
    <script>
        
        var roles = "";
        $(document).ready(function () {
            $.getJSON('@Url.Action("GetAllRoles", "Home")', null, function (result) {
                for (var i = 0; i < result.Roles.length; i++) {
                    roles += result.Roles[i].name + ":" + result.Roles[i].name;
                    if (i != result.Roles.length - 1) roles += ";";
                }
            });
        });

        var UpdateDialog = {
            url: "@Url.Action("UserUpdate", "Home")",
            recreateForm: true,
            closeAfterEdit: true,
            closeAfterAdd: true,
            closeOnEscape: true,
            reloadAfterSubmit: true,
            modal: true,
            beforeSubmit: function(postdata, formid) {
                var result = true;
                return [result, "You should pick some service"];
            }
        };

        $(document).ready(function() {
            $('#tblGqGrid').jqGrid(
            {
                url: '@Url.Action("UsersForGrid", "Home")',
                datatype: "json",
                width: "1200",
                height: "auto",
                colNames: ["Id", "Name", "Surname", "Birthday", "Email", "CartNumber", "Role", "Actions"],
                colModel: [
                    { name: "Id", index: 'Id', key: true, hidden: true },
                    { name: "Name", index: 'Name', width: 173, editable: true, sortable: false },
                    { name: "Surname", index: 'Surname', width: 200, editable: true,  sortable: false },
                    { name: "Birthday", index: 'Birthday', width: 200, editable: true, sortable: false },
                    { name: "Email", index: 'Email', width: 200, editable: true, sortable: true },
                    { name: "CartNumber", index: 'CartNumber', editable: true, width: 200, sortable: true },
                    { name: 'Role', index: 'Role', width: 100, editable: true, edittype: "select", editrules: { required: true }, sortable: false },
                    { name: 'act', index: 'act', width: 100, sortable: false }
                ],
                shrinkToFit: false,
                cellEdit: false,
                pager: '#jQGridDemoPager',
                rownumbers: true,
                multiselect: false,
                rowNum: 10,
                rowList: [10, 20, 50],
                caption: "Пользователи",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    cell: "cell",
                    id: "id",
                    userdata: "userdata",
                },
                gridComplete: function() {
                    $('#tblGqGrid').setColProp('Role', { editoptions: { value: roles } });
                    var ids = jQuery("#tblGqGrid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var be = "<input style='height:22px;width:40px;' type='button' value='Edit' onclick=\"jQuery('#tblGqGrid').jqGrid('editGridRow','" + cl + "'," +
                            "UpdateDialog);\"  />";
                        var ud = "<input style='height:22px;width:55px;' type='button' value='Delete' onclick=\"jQuery('#tblGqGrid').jqGrid('delGridRow','" + cl + "'," +
                            "UpdateDialog);\"  />";
                        jQuery("#tblGqGrid").jqGrid('setRowData', ids[i], { act: be + ud });
                    }
                },
                ondblClickRow: function (rowid) {
                    $(this).jqGrid('editGridRow', rowid,
						UpdateDialog);
                }
            }).navGrid("#jQGridDemoPager", {
                edit: true,
                edittext: 'Edit',
                search: false,
                searchtext: "Find",
                refreshtext: "Refresh",
                del: true,
                deltext: "Delete",
                add: false,
                addtext: "Add",
                save: false,
                savetext: "Update"
            }, UpdateDialog, UpdateDialog, UpdateDialog);

        });
    </script>
}

<div style="text-align: left;width: 80%;margin-top: 100px">
    <table id="tblGqGrid"></table>
    <div id="jQGridDemoPager"></div>
</div>